* {
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
  }
  
.main-nav {
    height: 10vh;
    background-color: rgb(29, 29, 31);
}

ul {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    margin: .5rem;;
}

li {
    list-style: none;
    padding: 1rem 3vh ;
    font-size: 1.25rem;
}

li a {
    color: #f5f5f7;
    text-decoration: none;
    padding: 0 1rem;
}

a:hover {
    color: darkgray;
}


main {
    height: auto;
    margin: 2rem;
    padding: 0;
}

img {
    width: 70vw;  
}

.blogText {
    color: #000;
    line-height: 1.5rem;
    font-size: 1.5rem;
}

footer {
    width: 100%;
    height: auto;
    background-color: rgb(29, 29, 31);
    margin-top: 5vh;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center ;
    color: cornflowerblue;
}

p {
    margin: 2rem;
}
